In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Cleaned_Laptop_data.csv")

In [3]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,Lenovo,A6-9225,AMD,A6-9225 Processor,10th,4 GB GB,DDR4,0 GB,1024 GB,Windows,...,Missing,0,No,No,24990,32790,23,3.7,63,12
1,Lenovo,Ideapad,AMD,APU Dual,10th,4 GB GB,DDR4,0 GB,512 GB,Windows,...,Missing,0,No,No,19590,21325,8,3.6,1894,256
2,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,19990,27990,28,3.7,1153,159
3,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,21490,27990,23,3.7,1153,159
4,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,256 GB,0 GB,Windows,...,Missing,0,No,No,24990,33490,25,3.7,1657,234

In [4]:
df = df[["processor_name", "ram_gb", "ssd", "os", "os_bit", "graphic_card_gb", "weight", "display_size", "Touchscreen", "latest_price"]]
df = df.rename({"latest_price": "price"}, axis=1)
df.head()

,processor_name,ram_gb,ssd,os,os_bit,graphic_card_gb,weight,display_size,Touchscreen,price
0,A6-9225 Processor,4 GB GB,0 GB,Windows,64-bit,0,ThinNlight,Missing,No,24990
1,APU Dual,4 GB GB,0 GB,Windows,64-bit,0,Casual,Missing,No,19590
2,APU Dual,4 GB GB,128 GB,Windows,64-bit,0,ThinNlight,Missing,No,19990
3,APU Dual,4 GB GB,128 GB,Windows,64-bit,0,ThinNlight,Missing,No,21490
4,APU Dual,4 GB GB,256 GB,Windows,64-bit,0,ThinNlight,Missing,No,24990

In [5]:
df = df.loc[df["display_size"] != "Missing"]

In [6]:
df

,processor_name,ram_gb,ssd,os,os_bit,graphic_card_gb,weight,display_size,Touchscreen,price
5,APU Dual,8 GB GB,256 GB,Windows,64-bit,0,ThinNlight,14,No,24990
6,APU Dual,4 GB GB,0 GB,Windows,32-bit,0,Casual,14,No,20900
8,Athlon Dual,32 GB GB,32 GB,Windows,32-bit,4,Casual,14,No,26899
10,Core i3,4 GB GB,0 GB,Windows,64-bit,0,Casual,15.6,No,34649
12,Core i3,4 GB GB,0 GB,Windows,64-bit,0,Casual,15.6,No,39999
...,...,...,...,...,...,...,...,...,...,...
888,Ryzen 9,4 GB GB,1024 GB,Windows,32-bit,6,Casual,16,No,138990
890,Ryzen 9,4 GB GB,1024 GB,Windows,64-bit,0,Casual,16,No,135990
891,Ryzen 9,4 GB GB,1024 GB,Windows,64-bit,0,Casual,16,No,144990
893,Ryzen 9,4 GB GB,1024 GB,Windows,64-bit,4,Casual,16,No,142990
895,Ryzen 5,8 GB GB,512 GB,DOS,64-bit,0,ThinNlight,14,No,57490

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564 entries, 5 to 895
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   processor_name   564 non-null    object
 1   ram_gb           564 non-null    object
 2   ssd              564 non-null    object
 3   os               564 non-null    object
 4   os_bit           564 non-null    object
 5   graphic_card_gb  564 non-null    int64
 6   weight           564 non-null    object
 7   display_size     564 non-null    object
 8   Touchscreen      564 non-null    object
 9   price            564 non-null    int64
dtypes: int64(2), object(8)
memory usage: 48.5+ KB

In [8]:
df.dropna()
df.isnull().sum()

processor_name     0
ram_gb             0
ssd                0
os                 0
os_bit             0
graphic_card_gb    0
weight             0
display_size       0
Touchscreen        0
price              0
dtype: int64

In [15]:
# Show how many different typs of responses in each feature
#df['processor_name'].value_counts()
#df['ram_gb'].value_counts()
#df['weight'].value_counts()
#df['ssd'].value_counts()
#df['os'].value_counts()
#df['os_bit'].value_counts()
#df['graphic_card_gb'].value_counts()
#df['display_size'].value_counts()
df['Touchscreen'].value_counts()

No     491
Yes     73
Name: Touchscreen, dtype: int64

In [9]:
def cutCategories(cate, cut):
    categoricalMap = {}
    for i in range(len(cate)):
        if cate.values[i] >= cut:
            categoricalMap[cate.index[i]] = cate.index[i]
        else:
            categoricalMap[cate.index[i]] = 'other'
    return categoricalMap

In [10]:
processorMap = cutCategories(df.processor_name.value_counts(), 15)
df['processor_name'] = df['processor_name'].map(processorMap)
df.processor_name.value_counts()

Core i5    176
Core i3    105
Core i7     94
Ryzen 5     52
Ryzen 7     44
other       29
M1          24
Ryzen 9     21
Ryzen 3     19
Name: processor_name, dtype: int64

In [11]:
ramMap = cutCategories(df.ram_gb.value_counts(), 20)
df['ram_gb'] = df['ram_gb'].map(ramMap)
df.ram_gb.value_counts()

8 GB GB     318
16 GB GB    159
4 GB GB      84
other         3
Name: ram_gb, dtype: int64

In [12]:
ssdMap = cutCategories(df.ssd.value_counts(), 20)
df['ssd'] = df['ssd'].map(ssdMap)
df.ssd.value_counts()

512 GB     285
256 GB     122
1024 GB     94
0 GB        57
other        6
Name: ssd, dtype: int64

In [13]:
display_sizeMap = cutCategories(df.display_size.value_counts(), 20)
df['display_size'] = df['display_size'].map(display_sizeMap)
df.display_size.value_counts()

15.6     218
16       135
14       131
other     40
13.3      40
Name: display_size, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

#df['processor_name'].value_counts()
#df['ram_gb'].value_counts()
#df['weight'].value_counts()
#df['ssd'].value_counts()
#df['os'].value_counts()
#df['os_bit'].value_counts()
#df['display_size'].value_counts()
#df['Touchscreen'].value_counts()

In [15]:
le_processor_name = LabelEncoder()
le_ram_gb = LabelEncoder()
le_weight = LabelEncoder()
le_ssd = LabelEncoder()
le_os = LabelEncoder()
le_os_bit = LabelEncoder()
le_display_size = LabelEncoder()
le_Touchscreen = LabelEncoder()

In [16]:
df['processor_name'] = le_processor_name.fit_transform(df['processor_name'])
df['ram_gb'] = le_ram_gb.fit_transform(df['ram_gb'])
df['weight'] = le_weight.fit_transform(df['weight'])
df['ssd'] = le_ssd.fit_transform(df['ssd'])
df['os'] = le_os.fit_transform(df['os'])
df['os_bit'] = le_os_bit.fit_transform(df['os_bit'])
df['display_size'] = le_display_size.fit_transform(df['display_size'])
df['Touchscreen'] = le_Touchscreen.fit_transform(df['Touchscreen'])

In [17]:
#df["processor_name"].unique
#df["ram_gb"].unique
#df["weight"].unique
#df["ssd"].unique
#df["os"].unique
#df["os_bit"].unique
#df["display_size"].unique
#df["Touchscreen"].unique

In [18]:
X = df.drop("price", axis=1)
y = df["price"]

In [19]:
from sklearn.linear_model import LinearRegression
linearReg = LinearRegression()
linearReg.fit(X, y.values)

LinearRegression()

In [20]:
yPredicted = linearReg.predict(X)

In [21]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
error = np.sqrt(mean_squared_error(y, yPredicted))

In [22]:
error

30317.070316623023

In [23]:
from sklearn.tree import DecisionTreeRegressor
decTreeReg = DecisionTreeRegressor(random_state=0)
decTreeReg.fit(X, y.values)

DecisionTreeRegressor(random_state=0)

In [24]:
yPredicted = decTreeReg.predict(X)

In [25]:
error = np.sqrt(mean_squared_error(y, yPredicted))
error

11264.046159118809

In [26]:
from sklearn.ensemble import RandomForestRegressor
randomForestReg = RandomForestRegressor(random_state=0)
randomForestReg.fit(X, y.values)

RandomForestRegressor(random_state=0)

In [27]:
yPredicted = randomForestReg.predict(X)

In [28]:
error = np.sqrt(mean_squared_error(y, yPredicted))
error

13138.928248772392

In [29]:
#Select best method/model from training set

from sklearn.model_selection import GridSearchCV

max_depth = [None, 2,4,6,8,10,12]
parameters = {"max_depth": max_depth}

#DecisionTreeRegressor had the lowest value from the above cases
regressor = DecisionTreeRegressor(random_state=0)
gs = GridSearchCV(regressor, parameters, scoring='neg_mean_squared_error')
gs.fit(X, y.values)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [30]:
regressor = gs.best_estimator_

regressor.fit(X, y.values)
yPredicted = regressor.predict(X)
error = np.sqrt(mean_squared_error(y, yPredicted))

In [31]:
error

14854.368109772622

In [32]:
X

,processor_name,ram_gb,ssd,os,os_bit,graphic_card_gb,weight,display_size,Touchscreen
5,8,2,2,2,1,0,2,1,0
6,8,1,0,2,0,0,0,1,0
8,8,3,4,2,0,4,0,1,0
10,0,1,0,2,1,0,0,2,0
12,0,1,0,2,1,0,0,2,0
...,...,...,...,...,...,...,...,...,...
888,7,1,1,2,0,6,0,3,0
890,7,1,1,2,1,0,0,3,0
891,7,1,1,2,1,0,0,3,0
893,7,1,1,2,1,4,0,3,0
895,5,2,3,0,1,0,2,1,0

In [33]:
#Test with inputted values 
X = np.array([["Core i5", "8 GB GB", "256 GB", "Windows", "64-bit", 0, "Casual", "14", "No"]])
X

array([['Core i5', '8 GB GB', '256 GB', 'Windows', '64-bit', '0',
        'Casual', '14', 'No']], dtype='<U11')

In [34]:
X[:, 0] = le_processor_name.transform(X[:,0])
X[:, 1] = le_ram_gb.transform(X[:,1])
X[:, 2] = le_ssd.transform(X[:,2])
X[:, 3] = le_os.transform(X[:,3])
X[:, 4] = le_os_bit.transform(X[:,4])
X[:, 6] = le_weight.transform(X[:,6])
X[:, 7] = le_display_size.transform(X[:,7])
X[:, 8] = le_Touchscreen.transform(X[:,8])
X = X.astype(float)
X

array([[1., 2., 2., 2., 1., 0., 0., 1., 0.]])

In [35]:
yPredicted = regressor.predict(X)
yPredicted
#off by 7000 rupees or 120 CAD

D:\Anaconda\envs\mlLaptop\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([58032.49180328])

In [38]:
import pickle

In [39]:
data = {"model": regressor, "le_processor_name": le_processor_name, "le_ram_gb": le_ram_gb, "le_ssd": le_ssd, "le_os": le_os, "le_os_bit": le_os_bit, "le_weight": le_weight, "le_display_size": le_display_size, "le_Touchscreen": le_Touchscreen}

with open ('saved_steps.pkl', 'wb') as file:
    pickle.dump(data, file)

In [40]:
with open ('saved_steps.pkl', 'rb') as file:
    data = pickle.load(file)
    
regressorLoaded = data["model"]

le_processor_name = data["le_processor_name"]
le_ram_gb = data["le_ram_gb"]
le_weight = data["le_weight"]
le_ssd = data["le_ssd"]
le_os = data["le_os"]
le_os_bit = data["le_os_bit"]
le_display_size = data["le_display_size"]
le_Touchscreen = data["le_Touchscreen"]

In [41]:
yPredicted = regressorLoaded.predict(X)
yPredicted

D:\Anaconda\envs\mlLaptop\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([58032.49180328])